{
  "mcpServers": {
    "gemini-notebook-mcp": {
      "command": "notebooklm-mcp",
      "args": []
    },
    "canva": {
      "serverUrl": "https://mcp.canva.com/mcp"
    },
    "firebase": {
      "command": {{ if eq .chezmoi.os "windows" }}"npx.cmd"{{ else }}"npx"{{ end }},
      "args": [
        "-y",
        "firebase-tools@latest",
        "mcp"
      ]
    },
    "playwright": {
      "command": {{ if eq .chezmoi.os "windows" }}"npx.cmd"{{ else }}"npx"{{ end }},
      "args": [
        "-y",
        "@playwright/mcp"
      ]
    },
    "netlify": {
      "command": {{ if eq .chezmoi.os "windows" }}"npx.cmd"{{ else }}"npx"{{ end }},
      "args": [
        "-y",
        "@netlify/mcp"
      ]
    }
  }
}
